// Variables
$subheader-font-size: 18px;

.product-introduction {
  display: flex;
  font-family: $font-family-spartan;
  margin: 88px 0px;

  .subheader {
    font-size: $subheader-font-size;
    font-weight: 100;
  }
}

.options-bar {
  align-items: center;
  background-color: $eos-white;
  border-radius: 10px;
  margin: 16px 0px 16px 0px;
  padding: 8px 20px;
}

.link-default {
  padding-left: 0.5em;
}
